// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.nav-text a {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
}

.nav-text a:hover,
.nav-text a.active {
    color: #0282f9;
}

.site-logo {
    width: 80px;
}
