// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.nav-text a {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2rem 0;
    border-bottom: 4px solid transparent;
}

.nav-text a:hover,
.nav-text a.active {
    color: #0282f9;
    border-bottom-color: #0282f9;
}

.site-logo {
    width: 80px;
}

.hero-img {
    height: 400px;
    object-fit: cover;
    object-position: top;
    display: block;
}
